name: calendar
services:
    api-prod:
        profiles: ['prod']
#        image: ghcr.io/mrvin/calendar:v1.0.0
        build:
         context: ../
         dockerfile: cmd/calendar/Dockerfile
         target: prod
        ports:
         - "8080:8080"   # REST API
         - "50051:50051" # gRPC API
        depends_on:
          migrate:
            condition: service_completed_successfully
        healthcheck:
          test: ["CMD", "/bin/httpscheck", "http://api-prod:8080/api/health"]
          interval: 1s
        volumes:
         - ${HOME}/volumes_docker/calendar/log:/var/log/calendar/
         - ./../configs/calendar.yml:/etc/calendar/calendar.yml

    api-dev:
        profiles: ['dev']
        build:
         context: ../
         dockerfile: cmd/calendar/Dockerfile
         target: dev
        ports:
         - "8080:8080"   # REST API
         - "50051:50051" # gRPC API
        environment:
         ENV: HELLO
        depends_on:
          migrate:
            condition: service_completed_successfully
        healthcheck:
          test: ["CMD", "/bin/httpscheck", "http://api-dev:8080/api/health"]
          interval: 1s
        volumes:
         - ${HOME}/volumes_docker/calendar/log:/var/log/calendar/
         - ./../configs/calendar.yml:/etc/calendar/calendar.yml

    scheduler:
       build:
        context: ../
        dockerfile: cmd/scheduler/Dockerfile
       depends_on:
         postgres:
           condition: service_healthy
         rabbitmq:
           condition: service_healthy
       volumes:
        - ./../configs/scheduler.yml:/etc/calendar/scheduler.yml

    sender:
       build:
        context: ../
        dockerfile: cmd/sender/Dockerfile
       depends_on:
         rabbitmq:
           condition: service_healthy
       volumes:
        - ./../configs/sender.yml:/etc/calendar/sender.yml

    migrate:
        image: migrate/migrate:v4.19.1
        command: ["-path", "/migrations", "-database",  "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable", "up"]
        depends_on:
          postgres:
            condition: service_healthy
        volumes:
         - ./../migrations:/migrations

    # Create service with PostgreSQL.
    postgres:
        image: postgres:18.1-alpine3.23
        ports:
         - "5432"
        env_file:
         - postgres.env
        healthcheck:
          test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
          interval: 1s
        volumes:
         - ${HOME}/volumes_docker/calendar/postgres-data:/var/lib/postgresql

    # Create service with RabbitMQ.
    rabbitmq:
        image: rabbitmq:4.0.3-management-alpine
        ports:
         - "15672:15672" # for serve RabbitMQ GUI
         - "5672:5672"
        healthcheck:
          test: rabbitmq-diagnostics -q ping

    # OpenTelemetry Collector
    otel_collector:
        image: otel/opentelemetry-collector-contrib:0.113.0
        command: --config=/etc/otel-collector.yml
        ports:
         - "4317:4317" # OTLP over gRPC receiver
         - "9464:9464" # Prometheus exporter
        # healthcheck:
        volumes:
         - ./../configs/otel-collector.yml:/etc/otel-collector.yml

    prometheus:
        image: prom/prometheus:v2.55.1
        command: --config.file=/etc/prometheus/prometheus.yml
        ports:
         - "9090:9090"
        depends_on:
         - otel_collector
        volumes:
         - ./../configs/prometheus.yml:/etc/prometheus/prometheus.yml

    grafana:
        image: grafana/grafana:10.4.12
        ports:
         - "3000:3000"
        depends_on:
         - prometheus
        volumes:
         - ./../configs/grafana/provisioning:/etc/grafana/provisioning
         - ${HOME}/volumes_docker/calendar/grafana-data:/var/lib/grafana
